language: r

sudo: required

apt_packages:
  - qpdf

r_binary_packages:
  - testthat
  - vegan

r_github_packages:
  - jimhester/covr

after_success:
  - Rscript -e 'covr::codecov()'

r_build_args: " --compact-vignettes=gs+qpdf"

notifications:
  email:
    on_success: change
    on_failure: always
